header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $black-light;
  position: fixed;
  z-index: 999;
  background: linear-gradient(
    217.09deg,
    rgba(95, 46, 234, 0) 0%,
    rgba(44, 16, 124, 0) 100%
  );
  backdrop-filter: blur(6px);
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;

  li {
    margin-left: 24px;
  }

  @include responsive(s) {
    display: none;
  }
}

.logo {
  max-width: 64px;
  min-width: 48px;
}

.cta-desktop,
.search {
  display: block;
  @include responsive(s) {
    display: none;
  }
}

.cta-mobile {
  display: none;
  @include responsive(s) {
    display: block;
  }
}
.menu-mobile {
  margin-top: 80px;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(6, 9, 15, 0.4);
  z-index: 990;
  backdrop-filter: blur(12px);
  transition: 0.7s ease;
  .nav-mobile {
  }

  li {
    border-bottom: 3px solid $black-light;
    .link-menu-mobile {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 24px 16px 24px 16px;
      &:hover {
        background-color: $black-light;
        padding: 24px 16px 24px 24px;
      }
    }
  }
}

.menu-mobile.showmenu {
  position: absolute;
  top: 0;
  left: 0;
}
.bx {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  display: none;

  @include responsive(s) {
    display: block;
  }

  &::after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    transition: 0.6s ease;
    background-color: $white-light;
  }

  &::before {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    transition: 0.6s ease;
    background-color: $white-light;
  }
}

.bx.active {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  display: none;

  @include responsive(s) {
    display: block;
  }

  &::after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    border-radius: 2px;
    transition: 0.6s ease;
    background-color: $white-light;
  }

  &::before {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-315deg);
    border-radius: 2px;
    transition: 0.6s ease;
    background-color: $white-light;
  }
}
